@import '../_vars';

.header {
  &-container {
    width: $container;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    &-logo {
      display: flex;

      &-img {
        margin-right: 20px;
      }
      &-text {
        font-size: 14px;
        color: #646562;
        line-height: 16px;
      }
    }
    &-phone {
      &-number {
        line-height: 16px;
        font-weight: 500;
        color: $text-primary;
      }
      &-description {
        img {
          margin-right: 5px;
        }
        text-align: end;
        color: $primary;
        font-weight: 500;
      }
    }
  }
}
